.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  direction: rtl;
  column-gap: 15px;
  row-gap: 20px;
  margin: 25px auto;
  justify-content: center;
}
.categories-container{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.paginator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  color: #3f51b5;
}
.page{
  text-align:right;
}
