.cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,400px));
  direction: rtl;
  column-gap: 15px;
  row-gap: 20px;
  margin:25px auto;
  justify-content: center;
  margin-top:80px;
}
