<div class="categories-container">
  <mat-form-field>
    <mat-select [formControl]="selectedCategory" >
      <mat-option value="All">جميع الفئات</mat-option>
      <mat-option *ngFor="let category of categories$ | async" [value]="category" >{{category}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="cards-container">
  <app-product-card
    *ngFor="let product of shownProducts$ | async"
    [product]="product"
  ></app-product-card>
</div>
<div class="paginator-container">
  <button (click)="onLastPage()" mat-icon-button>
    <mat-icon>first_page</mat-icon>
  </button>
  <button (click)="onForward()" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-form-field>
    <mat-select dir="rtl" [panelClass]="'page'" (valueChange)="changePage($event)" [value]="currentPage$ | async">
      <mat-option *ngFor="let page of PagesArray$ | async" [value]="page">
          {{ page }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="onBackward()" mat-icon-button>
    <mat-icon>arrow_forward</mat-icon>
  </button>
  <button (click)="onFirstPage()" mat-icon-button>
    <mat-icon>last_page</mat-icon>
  </button>
</div>
