mat-toolbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  text-align: center;
}

.cart {
  display: flex;
  align-items: center;
}

.logo{
  height: 40px;
}
