<mat-toolbar color="primary">
  <div *ngIf="loggedIn$ | async; else emptyDiv" class="cart">
    <button mat-stroked-button (click)="onBuy()">
      <mat-icon>shopping_cart</mat-icon>
      {{userPoints$ | async}} / {{totalPrice$ | async}}
    </button>
  </div>
  <img src="/static/assets/logo.png" alt="Alkanjaliah" class="logo">
  <button
    mat-icon-button
    (click)="signOut()"
    *ngIf="loggedIn$ | async; else emptyDiv"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<ng-template #emptyDiv>
  <div></div>
</ng-template>
