<mat-card dir="rtl">
  <mat-card-header> </mat-card-header>
  <mat-card-title>{{product.title}}</mat-card-title>
  <img
    [src]="product.image"
    alt=""
  />
  <mat-card-content>
    <h4>السعر: {{product.price}} نقطة</h4>
    <p>{{product.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <div class="number-input">
      <mat-form-field>
        <mat-label>العدد</mat-label>
        <input type="number" matInput [(ngModel)]="quantity">
      </mat-form-field>
      <button color="primary" (click)="onPlusSign()" mat-icon-button><mat-icon>add</mat-icon></button>
      <button color="warn" (click)="onMinusSign()" mat-icon-button><mat-icon>remove</mat-icon></button>
    </div>
    <button mat-raised-button color="primary" (click)="onCartAddition()">أضف إلى السلة</button>
  </mat-card-actions>
</mat-card>
