/* Style table here */
table{
  max-width: 500px;
  min-width: 250px;
  margin-bottom:20px;
}
h3{
  text-align:right;
}


.action-buttons{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom:20px;
}

.dialog-container{
  height:700px;
}
